@import "../../../mixins";
@import "../../../colors";
.layout {
  @include scrollable;
  overflow: auto;
  display: grid;
}
.field {
  grid-column: 1/1;
  grid-row: 1/1;
  place-self: center;
  display: grid;
  gap: 0.5em;
  padding: 0.5em;
}
.button {
  @include button;
  place-self: center;
  width: 1.5em;
  height: 1.5em;
}
.expander {
  height: 1.5em;
  width: 1.5em;
}
