@import "../../../colors";
@import "../../../mixins";
.layout {
  @include columnPanel;
}
.button {
  @include button;
}
.title {
}
.miniLayout {
  padding: 0.5em 0;
  background-color: rgba($primary-color, 0.1);;
  width: 1em;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5em;
}
.miniButton {
  width: 1em;
  height: 1em;
  background-color: $primary-color;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../assets/profile.svg");
}