@import "../../../mixins";
.button {
  @include button;
}
.buttonInGame {
  max-width: fit-content;
  color: $primary-text-color;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
.layout {
  @include scrollable;
  overflow-y: auto;
  @include columnPanel;
  background-color: inherit;
  width: 30em;
  padding: 1em;
}
.title {
  font-size: 1.2em;
  font-weight: bold;
}
.text {
  text-align: justify;
  text-indent: 1.5em;
}