@import "../../mixins";
@import "../../colors";
.layout {
  max-width: 7em;
  @include panel;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-direction: column;
}
.text {
  color: $primary-color;
}
.bar {
  height: 0.5em;
  border: 1px $primary-color solid;
  border-radius: 1em;
  width: 100%;
}