@import "../../mixins";
@import "../../colors";
.layout {
  max-width: 7em;
  @include columnPanel;
  padding: 0.5em;
}
.text {
  color: $primary-color;
}
.bar {
  height: 0.5em;
  border: 1px $primary-color solid;
  border-radius: 1em;
  width: 100%;
}