@import "../../mixins";
@import "../../colors";
.layout {
  @include columnPanel;
}
.player {
  text-align: center;
  font-size: 0.8em;
}
.playerInGame {
  &:first-child {
    font-size: 1em;
    padding-bottom: 0.3em;
  }
}
.score {
  color: $secondary-color;
}
