@import "../../mixins";
@import "../../colors";
.layout {
  @include scrollable;
  @include columnPanel;
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}
.record {
  text-align: center;
  font-size: 0.8em;
  border-top: 0.1em solid $secondary-color;
  &:first-child {
    border-top: unset;
  }
}
.recordInGame {
  &:first-child {
    font-size: 1em;
    padding-bottom: 0.3em;
  }
}