@import "../../../mixins";
@import "../../../colors";
.layout {
  @include columnPanel;
}
.title {
  text-align: center;
}
.players {
  @include scrollable;
  overflow-x: auto;
  max-width: 8em;
  padding-bottom: 0.2em;
}
.player {
  white-space: nowrap;
  text-align: start;
  font-size: 0.7em;
}
.playerInGame {
  &:first-child {
    font-size: 0.9em;
    padding-bottom: 0.3em;
  }
}
.score {
  color: $secondary-color;
}
.miniPlayer {
  writing-mode: vertical-rl;
  font-size: 0.75em;
  height: 8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
