@import "../../../mixins";
@import "../../../colors";
.players {
  place-self: center;
  max-width: 10em;
  @include scrollable;
  overflow-x: auto;
  list-style-position: inside;
  padding-bottom: 0.25em;
}
.player {
  white-space: nowrap;
  text-align: start;
  font-size: 0.7em;
}
.playerInGame {
  &:first-child {
    font-size: 0.9em;
    padding-bottom: 0.5em;
  }
}
.score {
  color: $secondary-color;
}