@import "../../../colors";
.player {
  writing-mode: vertical-rl;
  font-size: 0.7em;
  max-height: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.score {
  color: $secondary-color;
}
