@import "../../../mixins";
.layout {
  @include columnPanel;
}
.members {
  @include scrollable;
  overflow-x: auto;
  max-width: 8em;
  padding-bottom: 0.2em;
  list-style-position: inside;
}
.member {
  padding-bottom: 0.2em;
  list-style-type: decimal;
  display: list-item;
  white-space: nowrap;
  font-size: 0.8em;
  text-align: center;
}
.info {
  font-size: 0.8em;
}