@import "../../../mixins";
@import "../../../colors";
.miniLayout {
  cursor: pointer;
  border-radius: 1em;
  background-color: rgba($primary-color, 0.1);
  padding: 0.2em;
  min-height: 1em;
  text-align: center;
  width: 100%;
  &:hover {
    background-color: $primary-color;
    color: $primary-text-color;
  }
}
.layout {
  @include columnPanel;
  padding: 0.25em;
  grid-template-columns: 1fr min-content;
}
.fields {
  display: grid;
  gap: 0.5em;
  place-items: stretch;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close {
  @include miniButton;
  background-image: url("../../../assets/cross.svg");
  border-radius: 0.25em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}
.delete {
  @include miniButton;
  background-image: url("../../../assets/trash.svg");
  border-radius: 0.25em;
  height: 1.5em;
  width: 1.5em;
}
.topLabel {
  @include topLabel;
}
.input {
  @include input;
}
.hidden {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  max-height: 0;
}