@import "../../colors";
.layout {
  padding: 0.25em;
  border: 1px solid $primary-color;
  width: 4.5em;
  display: grid;
  gap: 0.25em;
  &:hover .button {
    opacity: 1;
  }
  background-color: $section-background-color;
}

.image {
  border: 1px solid $primary-color;
  width: 4em;
  height: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.button {
  opacity: 0.1;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 0.7em;
}