@import "../../mixins";
.layout {
  @include scrollable;
  overflow: auto;
  display: grid;
  padding: 1em;
}
.field {
  place-self: center;
  display: grid;
  gap: 0.5em;
}
.button {
  @include button;
  place-self: center;
  width: 1.5em;
  height: 1.5em;
}
.expander {
  height: 1.5em;
  width: 1.5em;
}