@import "../../mixins";
.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  place-items: center;
}
.button {
  @include button;
  grid-column: 1/4;
}
.topLabel {
  @include topLabel;
}
.input {
  @include input;
}