@import "../../../mixins";
@import "../../../colors";
.input {
  @include input;
}
.askButton {
  @include button;
  grid-column: 1 / span 2;
}
.silenceButton {
  @include button;
  background-color: $secondary-color;
}
.form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr min-content;
}
.question {
  word-break: break-word;
  text-align: center;
}