@import "../../../mixins";
@import "../../../colors";
.input {
  @include input;
}
.askButton {
  @include button;
}
.silenceButton {
  @include button;
  background-color: $secondary-color;
  place-self: center;
}
.form {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr min-content;
}
.question {
  word-break: break-word;
  text-align: center;
}
.info {
  font-size: 0.8em;
  text-align: center;
}