@import "../../mixins";
.layout {
  padding-top: 1em;
  display: grid;
  place-items: start center;
  animation: fadeOut 2s linear;
}
.button {
  @include button;
}
@keyframes fadeOut {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1 }
}