@import "../../colors";
@import "../../mixins";
.layout {
  @include sideBar;
  padding-top: 1.5em;
  width: 12em;
  position: relative;
  animation: showSideBarLayout linear 0.2s;
}
.miniLayout {
  width: 1em;
  padding: 1.5em 0 0 0;
  animation: hideSideBarLayout linear 0.2s;
}
@include sideBarLayoutAnim(hideSideBarLayout, 12em, 1em);
@include sideBarLayoutAnim(showSideBarLayout, 1em, 12em);
.button {
  overflow: hidden;
  background-color: $secondary-color;
  background-image: url("../../assets/menu.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 0;
}
.buttonToLeft {
  left: 0;
}
.buttonToRight {
  right: 0;
}
.showedButton {
  &.buttonToLeft {
    border-radius: 0 0 1em 0;
    animation: showRightSideBarButton linear 0.2s;
  }
  &.buttonToRight {
    border-radius: 0 0 0 1em;
    animation: showLeftSideBarButton linear 0.2s;
  }
}
.hiddenButton {
  border-radius: 0;
  &.buttonToLeft {
    animation: hideRightSideBarButton linear 0.2s;
  }
  &.buttonToRight {
    animation: hideLeftSideBarButton linear 0.2s;
  }
}
@include sideBarButtonAnim(hideLeftSideBarButton, 0 0 0 1em, 0);
@include sideBarButtonAnim(showLeftSideBarButton, 0, 0 0 0 1em);
@include sideBarButtonAnim(hideRightSideBarButton, 0 0 1em 0, 0);
@include sideBarButtonAnim(showRightSideBarButton, 0, 0 0 1em 0);
