@import "../../colors";
@import "../../mixins";
.layout {
  @include sideBar;
  padding-top: 1.5em;
  width: 12em;
  position: relative;
  animation: showSideBarLayout linear 0.2s;
}
.miniLayout {
  width: 1em;
  padding: 1.5em 0 0 0;
  animation: hideSideBarLayout linear 0.2s;
}
@include sideBarLayoutAnim(hideSideBarLayout, 12em, 1em);
@include sideBarLayoutAnim(showSideBarLayout, 1em, 12em);
.button {
  overflow: hidden;
  background-color: $secondary-color;
  background-image: url("../../assets/menu.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  height: 1em;
  width: 1em;
  border-radius: 0 0 0 1em;
  position: absolute;
  top: 0;
  animation: showSideBarButton linear 0.2s;
}
.buttonToLeft { left: 0; }
.buttonToRight { right: 0; }
.hiddenButton {
  border-radius: 0;
  animation: hideSideBarButton linear 0.2s;
}
@include sideBarButtonAnim(hideSideBarButton, 0 0 0 1em, 0);
@include sideBarButtonAnim(showSideBarButton, 0, 0 0 0 1em);
