@import "../../../colors";
.question {
  word-break: break-word;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.bar {
  height: 0.5em;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  display: grid;
}
.info {
  color: $primary-color;
  font-size: 0.7em;
  place-self: center;
}