@import "../../mixins";
@import "../../colors";
.checkLabel {
  @include rightLabel;
  font-size: 0.7em;
}
.checkBox {
  @include checkbox;
}
.records {
  height: 100%;
  min-height: 8em;
  max-height: 30vh;
  @include scrollable;
  overflow-y: auto;
  overflow-x: hidden;
}
.record {
  padding: 0.1em;
  word-break: break-word;
  text-align: start;
  font-size: 0.7em;
  border-top: 0.1em solid $secondary-color;
  &:first-child {
    border-top: unset;
  }
}
.recordInGame {
  &:first-child {
    font-size: 0.8em;
    padding-bottom: 0.3em;
  }
}
.step {
  color: $primary-color;
  font-size: 0.7em;
}