@import "../../../mixins";
@import "../../../colors";
.layout {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  place-items: center;
}
.list {
  grid-auto-rows: minmax(min-content, max-content);
  max-height: 20em;
  height: 50vh;
  padding: 0.5em 1em;
  overflow-y: auto;
  display: grid;
  gap: 0.5em;
  grid-auto-flow: row;
  @include scrollable;
}
.button {
  @include button;
}
.gridCenter {
  place-self: center;
}
.addButton {
  @include button;
  background-image: url("../../../assets/plus.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5em;
  width: 1.5em;
}