$primary-color: #024989;
$primary-text-color: #ffffff;
$secondary-color: #07841B;
$secondary-opposite-color: #FF0000;
$root-background-color: #f4f2ee;
$section-background-color: #E9E7E7;
$input-background-color: #FFFFFF;
$input-text-color: #000000;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  secondaryOppositeColor: $secondary-opposite-color;
}
:root {
  --columns: 100%;
  --rows: 100%;
}