@import "colors";
@mixin button {
  padding: 0.1em 0.25em;
  background-color: $primary-color;
  color: $primary-text-color;
  border-radius: 0.5em;
}
@mixin scrollable {
  &::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba($primary-color, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 1em;
  }
}
@mixin topLabel {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 0.5em;
}
@mixin sideBar {
  @include scrollable;
  background-color: $section-background-color;
  padding: 0.5em;
  display: grid;
  place-items: center;
  gap: 0.5em;
  grid-auto-rows: minmax(min-content, max-content);
  overflow-y: auto;
}
@mixin panel {
  background-color: rgba($primary-color, 0.1);
  border-radius: 0.5em;
  padding: 0.2em;
  width: 100%;
}
@mixin columnPanel {
  @include panel;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 0.5em;
  grid-auto-rows: minmax(min-content, max-content);
}
@mixin buttonPanel {
  @include columnPanel;
}
@mixin input {
  padding: 0.25em 0.5em;
  background-color: $input-background-color;
  color: $input-text-color;
  border-radius: 0.5em;
}