@import "colors";
@mixin button {
  padding: 0.2em 0.3em;
  background-color: $primary-color;
  color: $primary-text-color;
  border-radius: 0.5em;
}
@mixin roomBarButton {
  text-align: center;
  color: $primary-text-color;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
@mixin miniButton {
  width: 2em;
  height: 2em;
  background-color: $primary-color;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin scrollable {
  &::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba($primary-color, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
  }
}
@mixin topLabel {
  text-align: center;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 0.25em;
}
@mixin rightLabel {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 0.5em;
  grid-auto-columns: minmax(min-content, max-content);
}
@mixin sideBar {
  @include scrollable;
  background-color: $section-background-color;
  padding: 0.5em;
  display: grid;
  place-items: center;
  gap: 1em;
  grid-auto-rows: minmax(min-content, max-content);
  overflow-y: auto;
  overflow-x: hidden;
}
@mixin columnPanel {
  background-color: rgba($primary-color, 0.1);
  border-radius: 0.5em;
  padding: 0.5em;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  place-items: stretch;
  gap: 0.7em;
  grid-auto-rows: minmax(min-content, max-content);
}
@mixin miniColumnPanel {
  background-color: rgba($primary-color, 0.1);
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 1em;
  grid-auto-rows: minmax(min-content, max-content);
}
@mixin input {
  padding: 0.25em 0.5em;
  background-color: $input-background-color;
  color: $input-text-color;
  border-radius: 0.5em;
}
@mixin checkbox {
  height: 1em;
  width: 1em;
  position: relative;
  -webkit-appearance: none;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1em;
    width: 1em;
    border: 1px solid $input-text-color;
    background-color: $input-background-color;
  }
  &:hover {
    filter: brightness(90%);
  }
  &:checked {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      height: 1em;
      width: 1em;
      border: 1px solid $input-text-color;
      background-color: $input-background-color;
    }
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0.2em;
      left: 0.3em;
      height: 0.5em;
      width: 0.7em;
      border-left: 0.15em solid $input-text-color;
      border-bottom: 0.15em solid $input-text-color;
      -webkit-transform: translateY(-0.1em) rotate(-45deg);
      transform: translateY(-0.1em) rotate(-45deg);
    }
  }
}
@mixin sideBarButtonAnim($name, $br-from, $br-to, $size-from, $size-to) {
  @keyframes #{$name} {
    from {
      border-radius: $br-from;
      width: $size-from;
      height: $size-from;
    }
    to {
      border-radius: $br-to;
      width: $size-to;
      height: $size-to;
    }
  }
}
@mixin sideBarLayoutAnim($name, $from, $to) {
  @keyframes #{$name} {
    from { width: $from; }
    to { width: $to; }
  }
}