@import "../../../colors";
.layout {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.5);
  display: grid;
  place-items: center;
  padding: 1em;
}
.window {
  border-radius: 1em;
  padding: 1em;
  background-color: $section-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 15em;
}